<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ellie Chen</title>

	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<link rel="stylesheet" href="css/custom.css">

	<script src="js/jquery.min.js"></script>
	<script src="js/owl.carousel.2.2.1.min.js"></script>

	<script>
		$(function(){

			var owl = $('.owl-carousel');

			owl.owlCarousel({
		      margin: 15,
		      nav: true,
		      //artSpeed:200
		      navText: ['<i class="fa fa-angle-left fa-5x"></i>','<i class="fa fa-angle-right fa-5x"></i>'],
		      items:1,
		      rewind:true,
		      center:true,
		      autoplay:true,
		      autoplayTimeout: 2000,
		      autoplayHoverPause:true,
		 	});

		});
	</script>
</head>
<body>
	<header>
		<div class="container">
			<div class="logo">
				<h1>Ellie Chen</h1>
			</div>
			<ul>
				<li>
					<a href="#">I design</a>
				</li>
				<li>
					<a href="#">I Draw</a>
				</li>
				<li>
					<a href="#">I Am</a>
				</li>
			</ul>
		</div>
	</header>
	<section class="basic">
		<div class="container bg-grey">
			<h2>Bus Relax</h2>
			<ul class="text-center">
				<li>FIELD:  UX Research|UX Design | Interactive Design</li>
				<li>DATE: 2017.9 | one week</li>
				<li>Process: Research | Analysis | Idea Generation | Prototyping</li>
			</ul>
			<div class="description">
				<p>
					Bus Relax is an application on tracking bus and enjoying the journey on s bus. Different from the most existing bus application, I added the function of checking the condition of coming buses and get off alarm. 
				</p>
				<p>
					This is a project of User Centered Design course in Coursera. 
				</p>
			</div>
		</div>
		<img src="img/relax-banner.webp" alt="">
	</section>
	<section class="introduction">
		<h2>Interview</h2>
		<div class="container bg-grey text-center">
			<p class="description">
				In order to understand user's real need, I did a user interview to learn more about her exprience on transportation. 
			</p>
			<a href="https://www.dropbox.com/s/bj21kekl8jfbvvu/interview-transportation.pdf?dl=0" class="btn btn-link">View Interview Report</a>
		</div>
		<div class="container bg-green">
			<h3 class="text-center">What I have learned from my research</h3>
			<ul class="list">
				<li>People often want to relax on transportation</li>
				<li>There is little information about situation on transportation</li>
			</ul>
	</section>
	<section class="introduction">
		<h2>Persona</h2>
		<div class="container bg-grey">
			<p class="description">
				I created a persona to represent the user type within my targeted demographic.
			</p>
			<p>
				This gave a clear picture of the targeted users’ expectations and behavior pattern, guiding me to design features and functions that fit into their need.
			</p>
			<img src="img/persona.png" alt="">
		</div>
	</section>
	<section class="introduction">
		<h2>Storyboard</h2>
		<div class="container bg-grey">
			<p class="description">
				I generated a storyboard to illustrate the use case for my design. The storyboard also helps me to establish the goal in my design.
			</p>
			<div class="scotcht-area">
				<img src="img/scotcht.png" alt="" class="scotcht">
				<img src="img/sketch.webp" alt="">
			</div>
		</div>
	</section>
	<section class="introduction">
		<h2>Navigation Flow</h2>
		<div class="container bg-grey">
			<p class="description">
				I mapped out the app navigation flow before creating the design to make sure my solution make sense and is easy to use. fl
			</p>
			<div class="scotcht-area">
				<img src="img/scotcht.png" alt="" class="scotcht">
				<img src="img/flow.webp" alt="">
			</div>
		</div>
	</section>
	<section class="introduction">
		<h2>Final Design</h2>
		<div class="container bg-grey text-center">
			<div class="prototype">
				<div class="owl-carousel owl-theme owl-loaded">
					<img src="img/slide1.png" alt="">
					<img src="img/slide2.png" alt="">
					<img src="img/slide1.png" alt="">
					<img src="img/slide2.png" alt="">
					<img src="img/slide1.png" alt="">
					<img src="img/slide2.png" alt="">
				</div>
			</div>
			<a href="https://invis.io/8QDZ5P853#/258604426_Prototype-01" class="btn btn-link">View Prototype</a>
		</div>
	</section>
</body>
</html>